{% extends 'site_base.html' %}
{% load static %}
{% block main %}
  <link rel="stylesheet" href="{% static 'styles/productpagecontent.css' %}">
  

    <!--Main Content-->
    <main>
  
    <div class="container"> 
         <div style="padding-bottom: 10px;">
        <div class="span9">
          <!--Product bar content-->
        <h3 style="font-family: 'Rubik', sans-serif; font-weight: 600; font-size: 18px;" > PRODUCTS <small class="pull-right">  
          <!--Product Sort by-->
        <form class="form-horizontal span6" >
            <div class="control-group" style="font-size: 16px;padding-top:0px; padding-bottom: 0px;border-radius:0px">
            <label class="control-label alignL">Sort By </label>
                <select>
                  <option>Latest</option>
                <option>Price Low</option>
                <option>Price High</option>
                </select>
            </div>
        </form> 
        </small>
    </h3>
    </div>
    </div>    
     <div class="row">
          <div class="col-md-3 col-sm-6">
            <!--Products are in grid view-->
                    <div class="product-grid">
                      <!--Image view - Pass same images for both pic-1 and pic-2 (*dont remove pic1 and pic2. If removed undo)-->
                        <div class="product-image">
                            <a href="#">
                                <img class="pic-1" src="https://images.unsplash.com/photo-1546938576-04917ec516ee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80">
                                <img class="pic-2" src="https://images.unsplash.com/photo-1546938576-04917ec516ee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80">
                            </a>                           
                        </div>
                        
                        <!--Product details Here-->
                        <div class="product-content">
                            <h3 class="title"><a href="#">Leather Bag</a></h3>
                            <div class="price">₹160.00<span>₹200.00</span></div>
                            <a class="add-to-cart" href="#">+ Add To Cart</a>
                        </div>
                        
                    </div>
                </div>                        
                
            </div>
        </div>
        
    </main>


{% endblock main %}