{% extends 'site_base.html' %}
{% load static %}
    {% block title %}Home{% endblock title %}
    {% block main %}
    <link rel="stylesheet" href="{%  static '\styles\cart.css' %}">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{f.as_p}}
            <input type="submit" value="add">

        </form>
        <!--<form method="POST" action='/add/'>
            {% csrf_token %}
            <input type="file" name='file'>
            <input type="submit" value='ass'>
        </form>-->
        {% for i in form %}
        <a href="{% url 'detail' i.id %}">{{i.product_name}}</a>
        <a href="{% url 'hf' i.product_sub_category %}">{{i.product_sub_category}}</a>
        <a href="{% url 'cart_add' i.id %}">Add To Cart</a>
        {% endfor %}
        <script type="text/javascript">

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
    
    
            function uuidv4() {
              return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
              });
            }
    
    
    
    
            let device = getCookie('device')
    
            if (device == null || device == undefined){
                device = uuidv4()
            }
    
            document.cookie ='device=' + device + ";domain=;path=/"
    
        </script>
{% endblock main %}
