body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px; 
  
  }
  
  a{
  color: #a19a9a;
  }
  
  .navbar .nav-item .dropdown-menu{ 
    display: none; 
    
   }
  
   .navbar  .nav-item:hover .nav-link{
     color: #1363AA;
     font-size: 18px; 
     background-color: white;
    
     }
  
     
  .navbar .nav-item:hover .dropdown-menu{ 
    display: block; 
    background-color: #ffffff;
  
   
  }
  .navbar .nav-item .dropdown-menu{
     margin-top:0;
     border-color: transparent;
   
    }
  
   .dropdown-menu .dropdown-item{
     color: #a19a9a;
  
     
   } 
   .dropdown-menu .dropdown-item:hover{
    color: #1363AA;
    background-color: white;
    font-size: 14.5px;
  
  } 
  
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: white;
  border-color: #337ab7;
  }
  
  
  
  
  @media screen and (max-width: 700px) {
  .input-group{
     width: 100%;
  }
  }
  
  @media screen and (min-width: 900px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 80px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .input-group{
  width: 300px;
  }
  
  }
  
  
  @media screen and (min-width: 1000px) {
  .header-links a {
  font-size: 16px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  padding-right: 10px;
  margin-right: 10px;
  }
  
  .input-group{
  width: 350px;
  }
  
  }  
  
  @media screen and (min-width: 1200px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 80px;
  }
  .navbar .nav-item .dropdown-menu{
  margin-top:0;
  border-color: transparent;
  margin-left: 50px;
  }
  
  .input-group{
  width: 450px;
  }
  
  }
  
  @media screen and (min-width: 1400px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 120px;
  }
  
  .navbar .nav-item .dropdown-menu{
  margin-top:0;
  border-color: transparent;
  margin-left: 100px;
  }
  
  .input-group{
  width: 500px;
  }
  
  }
  
  
  /* Logo */
  .logo{
  width: 100px;
  padding-top: 10px;
  padding-left:4px;
  padding-bottom: 10px;
  }
  
  /*Uppermost bar Content*/
  .upperbarcontent{
  color: white;
  }
  .upperbarcontent:hover{
  background-color: black;
  }
  .topnav a.active {
  background-color: #2196F3;
  color: white;
  }
  
  .nav .upperbarcontent:hover{
  background-color: #1363AA;
  color: white;
  font-size: 20px; 
  }
  
  
  
  @media screen and (min-width: 767px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
  display: none;
  }
  .extratopcontent{
  display: none !important;
  }
  
  .imagelogo{
    padding-top: 10px;
  }
  
  }
  
  @media screen and (max-width: 767px) {
  .nav .upperbarcontent{
  display: none;  
  }
  
  .navbar {
  position: relative;
  min-height: 0px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  }
  
  .input-group{
  width: 100%;
  height: 20px;
  }
  
  .imagelogo{
  display: none;
  }
  
  .mainsearchbar{
  display: none;
  }
  
    /* NavBar top Content*/
    .navbar-toggle{
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
    
    
  /*Cart bar icon*/
    .navbar-toggle>a{
      padding: 0px;
    }
   
    
  /*Menu bar icon*/
    .navbar-toggle>button{
      padding: 0px;
      padding-top: 8px; 
    }
    
    /*Image Container*/
    #logomenunavbar a{
      display: flex;
      flex-wrap: wrap;
    }
    
    .logomenubar>a{
      padding: 0px;
    }
    
    /*Image Logo*/
    .imagelogomenu{
    width: 60px;
    height: 25px;
    padding: 0px;
    margin: 0px;
    float: left;
    
    }
    
    .navbar-toggle>div{
      padding: 0px;
      padding-top: 0px; 
      width: 50px; /* Change here for logo padding with respect to searchbar*/
      padding-left: 0px;
      margin-left: 0px;
    }
    
    /* Search Bar Menu*/
    .searchmenubar{
      padding-top: 5px;
      height: 20px;
    }
    
    .navbar-toggle>form{
      padding: 0px;
      padding-top: 0px; 
      width: 300px;
      padding-left: 0px;
      margin-left: 0px;
    }
  }
  
  @media screen and (min-width: 440px)  {
  .imagelogomenu{
  width: 70px;
  height: 30px;
  }
  
  .searchmenubar{
  height: 30px;
  }
  }
  
  @media screen and (max-width: 440px) {
  .nav .upperbarcontent{
  display: none;  
  }
  
  .navbar {
  position: relative;
  min-height: 0px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  }
  
  .input-group{
  width: 100%;
  height: 20px;
  }
  
  .imagelogo{
  display: none;
  }
  
  .imagelogomenu{
  width: 40px;
  height: 15px;
  padding: 0px;
  margin: 0px;
  float: left;
  }
  
  .searchmenubar{
  height: 25px;
  
  }
  }
  
  @media screen and (max-width: 545px){
    /* NavBar top Content*/
  .navbar-toggle{
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 15px;
  }
  
  
  /*Cart bar icon*/
  .navbar-toggle>a{
    padding: 0px;
  }
  
  
  /*Menu bar icon*/
  .navbar-toggle>button{
    padding: 0px;
    padding-top: 8px; 
  }
  
  /*Image Container*/
  #logomenunavbar a{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }
  
  .logomenubar>a{
    padding: 0px;
  }
  
  /*Image Logo*/
  .imagelogomenu{
  width: 60px;
  height: 25px;
  padding: 0px;
  margin: 0px;
  float: left;
  
  }
  
  .navbar-toggle>div{
    padding: 0px;
    padding-top: 0px; 
    width: 40px; /* Change here for logo padding with respect to searchbar*/
    padding-left: 0px;
    margin-left: 0px;
  }
  
  /* Search Bar Menu*/
  .searchmenubar{
    padding-top: 5px;
    height: 20px;
  }
  
  .navbar-toggle>form{
    padding: 0px;
    padding-top: 0px; 
    width: 180px;
    padding-left: 0px;
    margin-left: 0px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 4px;
  }
  
  }
  
  @media screen and (max-width: 460px){
    /* NavBar top Content*/
    .navbar-toggle{
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 30px;
  
    }
  /*Cart icon*/
  .navbar-toggle>a{
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  /*Menu bar icon*/
  .navbar-toggle>button{
    padding: 0px;
    padding-top: 8px; 
  
  }
  
  /*Image Container*/
  #logomenunavbar a{
    display: flex;
    flex-wrap: wrap;
  }
  
  .logomenubar>a{
    padding: 0px;
  }
  
  /*Image Logo*/
  .imagelogomenu{
  width: 50px;
  height: 25px; 
  padding: 0px;
  margin: 0px;
  float: left;
  
  }
  
  .navbar-toggle>div{
    padding: 0px;
    padding-top: 0px; 
    width: 50px; /* Change here for logo padding with respect to searchbar*/
    padding-left: 0px;
    margin-left: 0px;
  }
  
  /*Icons body container*/
  .navbar-header>div{
    padding:0px;
    bottom: 0px;
    margin-bottom: -15px;
  }
  
  /* Search Bar Menu*/
  .searchmenubar{
    padding-top: 5px;
    height: 20px;
  }
  
  .searchmenubar{
    height: 10px;
    
  }
  
  .navbar-toggle>form{
    padding: 0px;
    padding-top: 0px; 
    width: 180px; /* Change searchbar width here*/
    padding-left: 0px;
    margin-left: 0px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 3px;
  }
  
  }
  
  @media screen and (max-width: 375px){
    /* NavBar top Content*/
  .navbar-toggle{
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  
  /*Cart icon*/
  .navbar-toggle>a{
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  /*Menu bar icon*/
  .navbar-toggle>button{
    padding: 0px;
    padding-top: 8px; 
  
  }
  
  /*Image Container*/
  #logomenunavbar a{
    display: flex;
    flex-wrap: wrap;
  }
  
  .logomenubar>a{
    padding: 0px;
  }
  
  /*Image Logo*/
  .imagelogomenu{
  width: 50px;
  height: 25px; 
  padding: 0px;
  margin: 0px;
  float: left;
  
  }
  
  .navbar-toggle>div{
    padding: 0px;
    padding-top: 0px; 
    width: 50px; /* Change here for logo padding with respect to searchbar*/
    padding-left: 0px;
    margin-left: 0px;
  }
  
  /*Icons body container*/
  .navbar-header>div{
    padding:0px;
    bottom: 0px;
    margin-bottom: -15px;
  }
  
  /* Search Bar Menu*/
  .searchmenubar{
    padding-top: 5px;
    height: 20px;
  }
  
  .searchmenubar{
    height: 10px;
    
  }
  
  .navbar-toggle>form{
    padding: 0px;
    padding-top: 0px; 
    width: 120px; /* Change searchbar width here*/
    padding-left: 0px;
    margin-left: 0px;
  }
  
  input[type=text] {
    width: 130px;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 4px;
    margin-right: 0px;
    margin-left: 0px;
  }
  
  
  }